<section class="oe_container lead mt64">
	<div>
		<div class="col-md-12 mt16" style="padding:0;">
            <div class="col-md-12" style="padding:0;">
                <div class="panel-group mb0 mt0" role="tablist" id="priceAccordeon" style="padding:0;">
                    <div class="panel-heading mb0 mt0 collapsed" role="tab" data-toggle="collapse" data-parent="#priceAccordeon" data-target="#priceAccordeon_area" aria-expanded="false" style="margin-left:0;padding:0 0 2px 0;text-align:right;">
                        <strong>
                        	<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
                                <strong style="color:white;">
                                    Supported :
                                </strong>
                            </div>
                            <div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
                                <strong style="color:white;" title="The tool is compatible with the Odoo Enterprise version">
                                    <i class="fa fa-check" style="margin-left:4px;"> </i>
                                    Enterprise
                                </strong>
                            </div>
                            <div style="background-color:#875A7B;padding:5px;margin-top:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
                                <strong style="color:white;" title="The tool is compatible with the Odoo Community version">
                                    <i class="fa fa-check" style="margin-left:4px;"> </i>
                                    Community
                                </strong>
                            </div>
                            <div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
                                <strong style="color:white;" title="The tool might be installed to Odoo.sh if you have a linked private git repository">
                                    <i class="fa fa-check" style="margin-left:4px;"> </i>
                                    Odoo.sh
                                </strong>
                            </div>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
	</div>
</section>

<section class="oe_container lead bi_title_box">
	<div >
		<div >
			<h2 class="oe_slogan bi_title" style="color:#5082c4;">
				<b>All POS Orders List Odoo Apps</b>
			</h2>
			<p class="oe_slogan">
				This Odoo apps help to see the list of all the orders in Point of sales, user can also see individual customers list of orders.After installing this Odoo module POS user can also able to see all orders on screen in POS. User can filter order by date and status of the order and also view the order details by clicking on any of the order.
			</p>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Spanish Translation Available.</p>
		</div>
	</div>
</section>

<section class="oe_container lead bi_features">
	<div >
		<div>
			<h3 class="oe_slogan" style="opacity:1;background: linear-gradient(to right, #86bcf2 0%, #e2f2f8 100%);padding: 10px 0px;color: ##201111;letter-spacing: 0.2em;text-transform: uppercase;text-shadow: 0.1em .04em 0.1em #7d8c88;"><b>Features</b></h3>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/pos_ol1.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b>Allow User to Configure the Limit of POS Order.</b></h4>
					  <span class="oe_slogan">Customer can manage the pos orders as per the configuration.</span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/dem2.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Allow user to see Different Orders from Different Session.</b></h4>
						<span class="oe_slogan">Customer can see the pos orders which are paid, on draft or posted.</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/pos_ol2.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b>User can See POS Orders.</b></h4>
					  <span class="oe_slogan">User can see pos orders as per the configuration of the customer in pos screen.</span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/dem1.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Configuration for Barcode.</b></h4>
						<span class="oe_slogan">User can see barcode in pos receipt as well as in order.</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/filter.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b>Filter By Order List</b></h4>
					  <span class="oe_slogan">User can filter order list by date and status in pos screen.</span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/detail.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Show Order Details</b></h4>
						<span class="oe_slogan">User can click on any order to view the details of that order.</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="oe_container lead mt64">
	<div >
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8 mr8" title="Demo Request" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="mailto:sales@browseinfo.in?Subject=Demo Request for All POS Orders List Odoo Apps" target="_top"> Demo Request </a>
			<a class="btn mt8 ml8" title="Video Tutorial" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://youtu.be/IJvQjjWNqsM" target="_blank"> Video Tutorial</a>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"><b>Installation Guide</b></p>
            <p class="oe_slogan"><strong>Before installing this module you have to install following packages in your system.(If you have then Ignore this)</strong></p>
            <p class="oe_slogan" style="color: red;">sudo pip3 install python-barcode</p>
            <p class="oe_slogan">OR</p>
            <p class="oe_slogan" style="color: red;">sudo pip install python-barcode</p>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Load POS Order Configuration</p>
			<p class="oe_slogan">User have to select from options from the settings to set limit to load pos orders.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="1_options.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Only Current Session</p>
			<p class="oe_slogan">Pos order for that current session can be seen by user by selecting this option.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="2_config_curent_session.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan">In POS Screen "Orders" button appear,user can see all POS orders directly from POS.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="3_order_btn.png">
			<p class="oe_slogan">When user clicks on "Orders" button he/she can see pos order for that current session.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="4_order_list.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan">User can select any of the order to get details of specific order.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="5_order_list.png">
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="6_order_list.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Filter Order By Date</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="7_order_list_view.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Filter Order By Draft</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="8_order_list.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Filter Order By Paid</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="9_order_list.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Filter Order By Invoiced</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="10_order_list_view.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Only Current Day Orders</p>
			<p class="oe_slogan">POS order for the current day can be seen by user by selecting this option.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="5_config_current_day.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan">In POS Screen "Orders" button appear,user can see all POS orders directly from POS.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="6_order_btn.png">
			<p class="oe_slogan">When user clicks on "Orders" button he/she can see pos order for that current session.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="7_order_list.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Load Last 3 Session's Order</p>
			<p class="oe_slogan">POS order for the last 3 sessions can be seen by user by selecting this option.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="8_config_last3.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan">In POS Screen "Orders" button appear,user can see all POS orders directly from POS.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="9_order_btn .png">
			<p class="oe_slogan">When user clicks on "Orders" button he/she can see pos order for the last 3 sessions.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="10_order_list.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Load Last 5 Session's Order</p>
			<p class="oe_slogan">POS order for the last 5 sessions can be seen by user by selecting this option.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="11_config_last5.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan">In POS Screen "Orders" button appear,user can see all POS orders directly from POS.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="12_order_btn.png">
			<p class="oe_slogan">When user clicks on "Orders" button he/she can see pos order for the last 5 sessions.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="13_order_list.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Load All Session's Order</p>
			<p class="oe_slogan">Pos order for all sessions can be seen by user by selecting this option.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="14_config_all.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan">In POS Screen "Orders" button appear,user can see all POS orders directly from POS.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="15_order_btn.png">
			<p class="oe_slogan">When user clicks on "Orders" button he/she can see pos order for all session.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="16_order_list.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Load Draft & Posted Orders</p>
			<p class="oe_slogan">User have to enable "Show draft Orders" and "Show Posted Orders".</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="17_config.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan">In POS Screen "Orders" button appear,user can see all Pos order which are in draft state and posted orders can be seen.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="18_order_list.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Draft Orders</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="19_draft_config.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan">In POS Screen "Orders" button, user can see all POS order which are in "Draft" state.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="20_draft.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Posted Orders</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="20_config.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan">In POS Screen "Orders" button, user can see all POS order which are in "Posted" state.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="21_ordeer_list.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Configuration for Barcode</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="22_config.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Barcode in POS Receipt</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="23_barcode.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan">Barcode and order reference in pos order in the back-end.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="24_barcode.png">
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Apps May You Like</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/bi_pos_import_sale/">
					<img class="img img-responsive" src="related/bi_pos_import_sale.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/bi_pos_custom_discount/">
					<img class="img img-responsive" src="related/bi_pos_custom_discount.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/bi_pos_customer_pricelist/">
					<img class="img img-responsive" src="related/bi_pos_customer_pricelist.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/pos_invoice_auto_check/">
					<img class="img img-responsive" src="related/pos_invoice_auto_check.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/pos_branch/">
					<img class="img img-responsive" src="related/pos_branch.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/pos_home_delivery/">
					<img class="img img-responsive" src="related/pos_home_delivery.png" style="width: 100%;"/>
				</a>
			</div>
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Most Demanded Apps</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/pos_orders_all/">
					<img class="img img-responsive" src="demanded/all_in_one_pos.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/bi_customer_overdue_statement/">
					<img class="img img-responsive" src="demanded/customer_overdue.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/generic_excel_reports/">
					<img class="img img-responsive" src="demanded/generic_excel_reports.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/sales_commission_generic/">
					<img class="img img-responsive" src="demanded/sale_commision.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/bi_generic_import/">
					<img class="img img-responsive" src="demanded/bi_generic_import.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/branch/">
					<img class="img img-responsive" src="demanded/branch.png" style="width: 100%;"/>
				</a>
			</div>
		</div>	
	</div>
</section>

<section class="oe_container">
	<div >
		<div >
			<h2 class="oe_slogan">Free Support</h2>
			<h3 class="oe_slogan" style="font-size: 21px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
			<p class="oe_slogan" style="font-size: 18px; ">
		At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis &amp; consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:ticket@browseinfo.in">ticket@browseinfo.in</a> or raise a ticket on support.
			</p>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div >
		<div >
			<div class="img img-responsive text-center">
				<a href="https://www.browseinfo.com" target="new" style="display: grid;">
					<img src="bi_logo.png" style="margin: auto;max-width: 350px;">
				</a>
			</div>
		</div>
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8" title="Query and Demo" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="mailto:sales@browseinfo.in?Subject=Demo Request for All POS Orders List Odoo Apps" target="_blank"> Query and Demo </a>
			<a class="btn mt8" title="Email on Support" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="mailto:ticket@browseinfo.in?Subject=Support Request for All POS Orders List Odoo Apps" target="_blank"> Support Request </a>
		</div>
	</div>
</section>