<section class="oe_container lead mt64">
	<div>
		<div class="col-md-12 mt16" style="padding:0;">
			<div class="col-md-12" style="padding:0;">
				<div class="panel-group mb0 mt0" role="tablist" id="priceAccordeon" style="padding:0;">
					<div class="panel-heading mb0 mt0 collapsed" role="tab" data-toggle="collapse" data-parent="#priceAccordeon" data-target="#priceAccordeon_area" aria-expanded="false" style="margin-left:0;padding:0 0 2px 0;text-align:right;">
						<strong>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;">
									Supported :
								</strong>
							</div>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool is compatible with the Odoo Enterprise version">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Enterprise
								</strong>
							</div>
							<div style="background-color:#875A7B;padding:5px;margin-top:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool is compatible with the Odoo Community version">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Community
								</strong>
							</div>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool might be installed to Odoo.sh if you have a linked private git repository">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Odoo.sh
								</strong>
							</div>
						</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="oe_container lead bi_title_box">
	<div >
		<div >
			<h2 class="oe_slogan bi_title" style="color:#5082c4;">
				<b> Odoo POS Pay Later Odoo apps </b>
			</h2>
			<p class="oe_slogan">
				For Point of sales Odoo POS Many customers, search more and more convenient ways of payment in odoo. Through this Odoo apps, we are giving chance to customers to pay partially in POS or delay payment on thier account. Users can see previous orders such as draft orders, paid orders, posted orders or reorder, invoiced orders, make payments for partially paid or unpaid orders and also create draft orders without any payment. this can be useful feature for Odoo POS.After installing this Odoo module POS user can also able to see all orders on screen in POS and reorder that same order and reprint it. The user can takes products on 100% Credit, and will pay later means user doesn't pay anything i.e 0. 
			</p>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Spanish Translation Available.</p>
		</div>
	</div>
</section>

<section class="oe_container lead bi_features">
	<div >
		<div>
			<h3 class="oe_slogan" style="opacity:1;background: linear-gradient(to right, #86bcf2 0%, #e2f2f8 100%);padding: 10px 0px;color: ##201111;letter-spacing: 0.2em;text-transform: uppercase;text-shadow: 0.1em .04em 0.1em #7d8c88;"><b>Features</b></h3>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/d1.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b> Create Draft POS Order. </b></h4>
					  <span class="oe_slogan"> User can create a draft pos order without any payment. </span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/d2.png"/>
					</div>
					<div class="col-md-9">
						<h4><b> Partially Pay for Orders. </b></h4>
						<span class="oe_slogan"> User can allow customers to pay partially for their pos orders. </span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/d3.jpeg"/>
					</div>
					<div class="col-md-9">
					  <h4><b> Filters for POS Orders. </b></h4>
					  <span class="oe_slogan"> User can apply filters on pos orders to see paid, unpaid, posted and invoiced orders. </span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/d4.png"/>
					</div>
					<div class="col-md-9">
						<h4><b> Receipt with Due and Total Paid Amount. </b></h4>
						<span class="oe_slogan"> User can print receipt with due and total paid amount. </span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/shopping_cart.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b> Generate Picking for Draft/Partial Order. </b></h4>
					  <span class="oe_slogan"> Picking order will generated for draft or partial paid order. </span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/Payday.png"/>
					</div>
					<div class="col-md-9">
						<h4><b> Pay Partial Payment Multiple Time. </b></h4>
						<span class="oe_slogan"> Now user can pay partial order amount multiple time. </span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="oe_container lead mt64">
	<div >
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8 mr8" title="Demo Request" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="mailto:sales@browseinfo.in?Subject=Demo Request for Odoo POS Pay Later Odoo apps" target="_top"> Demo Request </a>
			<a class="btn mt8 ml8" title="Video Tutorial" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://youtu.be/IUT-18ZyABY" target="_blank"> Video Tutorial</a>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Configuration for POS Partial Payment </p>
			<p class="oe_slogan"> User have to enable "Allow Partial Payment" for pay partial payment and set partial payment product. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="1_config.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> POS Partial Payment </p>
			<p class="oe_slogan"> Select products and customers. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="2_pos_Screen.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Partial Payment by Customer </p>
			<p class="oe_slogan"> User can pay partial amount for pos order using "Partial Payment" button on pos payment screen. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="3_partial_btn.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Payment Receipt with Due Amount </p>
			<p class="oe_slogan"> In payment receipt customers can see due amount and paid amount. </p>
			<img class="img-border img-responsive thumbnail mb16 center-block" style="border: 3px solid black;" src="4_payment_info.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> POS Order </p>
			<p class="oe_slogan"> User can see generated partial payment entry for pos order. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="5_order.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> POS Orders Picking</p>
			<p class="oe_slogan"> Picking order will created for draft/partial paid pos order. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="6_picking.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> All Orders in POS </p>
			<p class="oe_slogan"> User can see all the orders, unpaid orders, paid orders, posted orders and invoiced orders. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="7_order_menu.png">
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Unpaid Orders </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="8_unpaid.png">
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Paid Orders </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="9_paid.png">
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Posted Orders </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="10_posted.png">
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Invoiced Orders </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="11_invoiced.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Pay for Partially Paid Orders </p>
			<p class="oe_slogan"> Customer can multiple time pay partial payment for pos order. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="12_partial_apy.png">
			<img class="img-border img-responsive thumbnail mb16 center-block" style="border: 3px solid black;" src="13_partial_pay.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Receipt for Partially Paid Order </p>
			<img class="img-border img-responsive thumbnail mb16 center-block" style="border: 3px solid black;" src="14_receipt.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Payment Updated in the POS Orders </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="15_order_payment.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan"> User can see still due amount for pos order.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="16_amount_pay.png">
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="17_validate.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Receipt for fully Paid POS Order </p>
			<p class="oe_slogan"> User can see still due amount for pos order.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="18_receipt.png">
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="19_payment.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> POS Partial Payment </p>
			<p class="oe_slogan"> Select products and customers. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="20_pos_screen.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Partial Payment by Customer </p>
			<p class="oe_slogan"> Sometimes the user doesn't pay anything i.e 0 then also can pay partial amount for pos order using "Partial Payment" button on pos payment screen. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="21_partial_btn.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Payment Receipt with Due Amount </p>
			<p class="oe_slogan"> In payment receipt customers can see due amount and paid amount. Here paid amount is 0 because user takes items on 100% Credit. </p>
			<img class="img-border img-responsive thumbnail mb16 center-block" style="border: 3px solid black;" src="22_receipt.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> POS Order </p>
			<p class="oe_slogan"> User can see products and also generated partial payment entry for pos order. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="23_order.png">
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="24_order_payment.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Unpaid Orders </p>
			<p class="oe_slogan"> User can see details of unpaid orders with due amount and also pay from here. </p>
			<img class="img-border img-responsive thumbnail mb16 center-block" style="border: 3px solid black;" src="25_pay.png">
			<img class="img-border img-responsive thumbnail mb16 center-block" style="border: 3px solid black;" src="26_payment.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Receipt for fully Paid POS Order </p>
			<p class="oe_slogan"> User can see receipt for fully paid pos order.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="27_receipt.png">
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="28_payment.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> POS Draft Orders </p>
			<p class="oe_slogan"> User can create draft order without any payment </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="29_draft.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> POS Draft Receipt </p>
			<img class="img-border img-responsive thumbnail mb16 center-block" style="border: 3px solid black;" src="30_receipt.png">
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Apps May You Like</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/bi_pos_payment/">
					<img class="img img-responsive" src="related/bi_pos_payment.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/bi_pos_combo/">
					<img class="img img-responsive" src="related/bi_pos_combo.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/bi_pos_custom_discount/">
					<img class="img img-responsive" src="related/bi_pos_custom_discount.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/pos_login_odoo/">
					<img class="img img-responsive" src="related/pos_login_odoo.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/bi_pos_lock/">
					<img class="img img-responsive" src="related/bi_pos_lock.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/pos_wallet_odoo/">
					<img class="img img-responsive" src="related/pos_wallet_odoo.png" style="width: 100%;"/>
				</a>
			</div>
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Most Demanded Apps</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/pos_orders_all/">
					<img class="img img-responsive" src="demanded/all_in_one_pos.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/bi_customer_overdue_statement/">
					<img class="img img-responsive" src="demanded/customer_overdue.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/generic_excel_reports/">
					<img class="img img-responsive" src="demanded/generic_excel_report.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/sales_commission_generic/">
					<img class="img img-responsive" src="demanded/sale_commision.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/bi_generic_import/">
					<img class="img img-responsive" src="demanded/bi_generic_import.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/branch/">
					<img class="img img-responsive" src="demanded/branch.png" style="width: 100%;"/>
				</a>
			</div>
		</div>	
	</div>
</section>

<section class="oe_container">
	<div >
		<div >
			<h2 class="oe_slogan">Free Support</h2>
			<h3 class="oe_slogan" style="font-size: 21px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
			<p class="oe_slogan" style="font-size: 18px; ">
		At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis &amp; consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:ticket@browseinfo.in">ticket@browseinfo.in</a> or raise a ticket on support.
			</p>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div >
		<div >
			<div class="img img-responsive text-center">
				<a href="https://www.browseinfo.com" target="new" style="display: grid;">
					<img src="bi_logo.png" style="margin: auto;max-width: 350px;">
				</a>
			</div>
		</div>
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8" title="Query and Demo" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="mailto:sales@browseinfo.in?Subject=Demo Request for Odoo POS Pay Later Odoo apps" target="_blank"> Query and Demo </a>
			<a class="btn mt8" title="Email on Support" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="mailto:ticket@browseinfo.in?Subject=Support Request for Odoo POS Pay Later Odoo apps" target="_blank"> Support Request </a>
		</div>
	</div>
</section>